body {
  font-family: 'Noto Sans JP', sans-serif;
}

#navimenu{
  list-style: none;
}

#navigationpart {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
  max-width: 960px;
  font-weight: bold;
  }

#navigationpart ul {
font-size: 34px;
display: flex;
margin: 0;
}

#navother {
  text-decoration: none;
  color: black;
  padding-right: 30px;
  }

#navworks {
  text-decoration: none;
  color: black;
}

#myprofile {
  border: 1px solid black;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 34px;
}

#mainphoto {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#About {
  /* display: flex; */
  margin-bottom: 100px;
}

#AboutTitle {
  /* position:absolute;
  margin-left: 850px; */
  text-align: center;
  font-size: 36px;
  padding-bottom: 50px;
}

#aboutimage {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  padding: 0 18%;
}

h3 {
  font-size: 24px;
  /* margin-left: 850px;
  margin-top: 150px;
  position:absolute; */
}

#profilephoto {
  /* position:absolute; */
  border-radius: 50%;
  /* margin-left: 500px;
  margin-top: 150px; */
}

#profilelist {
  font-size: 18px;
  /* margin-left: 850px;
  margin-top: 200px; */
}

#Works {
  margin-bottom: 100px;
}

#WorksTitle {
  text-align: center;
  font-size: 36px;
}

.worksall {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  font-size: 18px;
}

#workpic1 {
width: 250px;
}

#workpic2 {
  width: 250px;
}

#workpic3 {
  width: 250px;
}

#item1 {
width: 25%;
}

#item2 {
  width: 25%;
}

#item3 {
  width: 25%;
}

footer {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}

/* Smartphone */
@media screen and (max-width: 767px) {
#pc {
  display: none;
}

  body {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  #navimenu{
    list-style: none;
  }
  
  #navigationpart {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    max-width: 960px;
    font-weight: bold;
    }
  
  #navigationpart ul {
  font-size: 21px;
  display: flex;
  margin: 0;
  }
  
  #navother {
    text-decoration: none;
    color: black;
    padding-right: 30px;
    }
  
  #navworks {
    text-decoration: none;
    color: black;
  }
  
  #myprofile {
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 28px;
  }
  
  #mainphoto {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  #About {
    /* display: flex; */
    margin-bottom: 100px;
  }
  
  #AboutTitle {
    /* position:absolute;
    margin-left: 850px; */
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
  }
  
  #aboutimage {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
    padding: 0 18%;
  }
  
  h3 {
    font-size: 24px;
    /* margin-left: 850px;
    margin-top: 150px;
    position:absolute; */
  }
  
  #profilephoto {
    /* position:absolute; */
    border-radius: 50%;
    /* margin-left: 500px;
    margin-top: 150px; */
  }
  
  #profilelist {
    font-size: 18px;
    /* margin-left: 850px;
    margin-top: 200px; */
  }
  
  #Works {
    margin-bottom: 100px;
  }
  
  #WorksTitle {
    text-align: center;
    font-size: 36px;
  }
  
  .worksall {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    font-size: 18px;
  }
  
  #workpic1 {
  width: 250px;
  }
  
  #workpic2 {
    width: 250px;
  }
  
  #workpic3 {
    width: 250px;
  }
  
  #item1 {
  width: 25%;
  }
  
  #item2 {
    width: 25%;
  }
  
  #item3 {
    width: 25%;
  }
  
  footer {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
  }
}